@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

html {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
    color: #666;
}

a {
    color: #666;
    text-decoration: none;
    border-bottom: 1px solid rgba(102, 102, 102, .4);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #54ca95;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

.row {
    margin-top: 5%;
    float: left;
    width: 100%;
}

.photo {
    width: 40%;
    float: left;
    text-align: center;
}

.photo img {
    border: 18px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 10%);
}

.general {
    width: 60%;
    float: right;
}

.point {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin: 40px 15px 25px 50px;
}

h1 {
    color: #333;
    font-size: 40px;
    font-weight: 600;
    margin: 0 15px 20px 50px;
}

.introducing {
    padding: 10px 0 5px 50px;
}

.download {
    margin: 20px 0 0 50px;
}

.btn {
    display: inline-block;
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 14px;
    line-height: 1.2;
    outline: 0;
    border: 2px solid #54ca95;
    color: #222;
    text-shadow: none;
    text-decoration: none;
    background-color: #fff;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 22%);
}

.btn:hover {
    background-color: #54ca95;
    color: #fff;
}

.col-left {
    float: left;
    width: 40%;
}

.col-right {
    float: left;
    width: 60%;
}

.col-right-wrapper {
    padding-left: 50px;
}

.about, .contacts, .work, .education, .languages, skills {
    float: left;
    width: 100%;
}

.wrapper-about {
    float: left;
    margin: 0 auto;
}

h2 {
    color: #333;
    display: inline-block;
    position: relative;
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 15px 0;
    z-index: 1;
    padding-bottom: 7px;
}

h2:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #f5f5f5;
    height: 2px;
    bottom: 0;
}

h2:after {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #54ca95;
    height: 2px;
    bottom: 0;
}

.far, .fas {
    color: #54ca95;
    float: left;
    font-size: 33px;
    padding-right: 15px;
}

ul {
    margin: 10px 0 30px 20px;
}

li {
    list-style-type: none;
}

.contacts {
    padding: 36px 0 40px 0;
}

.languages h3 {
    margin: 8px 0 10px 56px;
}

.languages ul {
    margin-bottom: 20px;
}

.languages li {
    list-style-type: circle;
    margin-left: 25px;
}

.wrapper-education {
    padding-left: 60px;
}

.education h3 {
    margin: 8px 0 10px 0;
}

.work {
    padding-top: 50px;
}

.work h3 {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px -40px;
    color: #383838;
    background-color: #fff;
    padding: 0 10px;
    line-height: 23px;
    border: 2px solid #54ca95;
    border-radius: 30px;
}

.company {
    display: inline-block;
    font-size: 13px;
    color: #666;
    opacity: .7;
    margin-left: 10px;
}

.timeline {
    position: relative;
    padding: 15px 0 20px 30px;
}

.timeline:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: #e2e2e2;
    width: 1px;
    left: 15px;
}

.next h3 {
    margin-top: 10px
}

.timeline:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: #e2e2e2;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px;
}

.timeline.last {
    padding-bottom: 0;
}

.timeline.last:after {
    background: none;
}

.timeline-wrapper {
    margin-left: 30px;
}

.position {
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0 8px 0;
}

.duties {
    margin-bottom: 8px;
}

.locality {
    font-size: 13px;
    color: #666;
    color: #666;
    opacity: .7;
}

.skills-title {
    float: left;
    width: 100%;
}

.skills-left {
    float: left;
    width: 50%;
}

.skills-right {
    float: left;
    width: 50%;
}

.skills h3 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

.skills-item {
    width: 87%;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 12px 17px rgb(0 0 0 / 5%);
}

.skills-item.next {
    margin-top: 35px;
}

.skills-logo {
    width: 100%;
    background-color: #f5f5f5;
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.skills-content {
    display: table-cell;
    width: 100%;
    padding: 20px 25px;
    vertical-align: middle;
}

footer {
    float: left;
    text-align: center;
    padding: 20px 0 30px 0;
    width: 100%;
}

footer img {
    opacity: .65;
}

.footer-left {
    float: left;
    font-size: 22px;
    font-weight: 600;
    line-height: .9em;
    margin-right: 10px;
    text-transform: uppercase;
    padding-top: 32px;
    text-align: right;
    width: 46%;
}

.footer-right {
    float: left;
    margin-left: 10px;
    text-align: left;
    width: 50%;
}

footer a {

}

.footer-right a {
    border-bottom: none;
}