@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    background: url("../../../assets/images/start-screen-gradient-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.wrapper {

    width: 1200px;
    margin: 0 auto;
    height: 3000px;
}

main {
}

.head {
    display: grid;
    padding: 60px 40px 0 0;
    grid-template-columns: 200px 1000px;
}

.head .title {
    color: #F1CDB3;
    /* logo_title */

    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

.head .subtitile {

    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    align-items: center;
    letter-spacing: 0.1em;

    /* color-light-xl */

    color: #FFFFFF;
    margin: 8px 0 0 5px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link {
    float: left;
    margin-left: 35px;
}

.link a {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}

.link a.active {
    color: #FAFAFA;
    border-bottom: 3px solid #f1cdb3;
}

#not-only .container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 800px;
}

#not-only .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#not-only .text .container {

}

#not-only .text .title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    align-items: center;
    color: #FFFFFF;
}
#not-only .text .subtitle {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

#not-only .dog {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}